<main class="search">
    <h1 class="search__title">Tratamientos de belleza en tu domicilio </h1>
    <h2 class="search__subtitle">Reserva servicios de estetica desde la comodidad de tu casa. Consigue tus citas dentro de los siguientes 60 minutos alrededor de Madrid</h2>
    <form action="#" class="form">
        <label for="postcode">Introduce tu codigo postal</label>
        <input type="text" id="postcode" placeholder="    'Ejemplo: 28025'" required>
        <button type="submit" value="search">Go</button>
    </form>
</main>