<footer class="footer">
    <ul class="support">
        <li><a href="#" class="link link--opac">FAQ</a></li>
        <li><a href="#" class="link">Live Chat</a></li>
        <li><a href="#" class="link">910 034 999</a></li>
    </ul>
    <ul class="discover">
        <li><a href="#" class="link link--opac">Unete a nosotros</a></li>
        <li><a href="#" class="link">Blog</a></li>
        <li><a href="#" class="link">Filosofia</a></li>
        <li><a href="#" class="link">Empresa</a></li>
    </ul>
    <p class="copyright">&#169; 2020 My Stetic Ltd. Todos los derechos reservados</p>
</footer>