<main class="search">
    <div class="search-center">
        <h1 class="search__title">Tratamientos de belleza en tu domicilio </h1>
        <h2 class="search__subtitle">Reserva servicios de estetica desde la comodidad de tu casa. Consigue tus citas dentro de los siguientes 60 minutos alrededor de Madrid</h2>
        <form action="#" class="mainform">
            <label for="postcode">Introduce tu codigo postal</label>
            <input type="text" id="postcode" placeholder="    'Ejemplo: 28025'" required>
            <button type="submit" value="search">Go</button>
        </form>
    </div>
</main>
<div class="row container-fluid p-4">
    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
        <img src="../../../assets/cera (1).svg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
        <img src="../../../assets/cera.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
        <img src="../../../assets/ceja.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
        <img src="../../../assets/pestanas.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
        <img src="../../../assets/una (1).svg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
        <img src="../../../assets/una.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

<footer class="footer">
    <ul class="support">
        <li><a href="#" class="link link--opac">FAQ</a></li>
        <li><a href="#" class="link">Live Chat</a></li>
        <li><a href="#" class="link">910 034 999</a></li>
    </ul>
    <ul class="discover">
        <li><a href="#" class="link link--opac">Unete a nosotros</a></li>
        <li><a href="#" class="link">Blog</a></li>
        <li><a href="#" class="link">Filosofia</a></li>
        <li><a href="#" class="link">Empresa</a></li>
    </ul>
    <p class="copyright">&#169; 2020 My Stetic Ltd. Todos los derechos reservados</p>
</footer>