<section class="poptreatments">
    <h2 class="poptreatments__subtitle">Tratamientos Populares</h2>
    <div class="grid">
        <div class="item grid--item1">
            <img src="../../../assets/depilation.svg" alt="# ">
            <h3>Depilación con cera fria</h3>
        </div>
        <div class="item grid--item2">
            <img src="../../../assets/waxing.svg" alt="# ">
            <h3>Depilación con cera caliente</h3>
        </div>
        <div class="item grid--item3">
            <img src="../../../assets/eyelash.svg" alt="# ">
            <h3>Lifting de pestañas</h3>
        </div>
        <div class="item grid--item4 ">
            <img src="../../../assets/eyelashes.svg" alt="# ">
            <h3>Extensiones de pestañas</h3>
        </div>
        <div class="item grid--item5 ">
            <img src="../../../assets/nail-polish.svg" alt="# ">
            <h3>Manicura permanente</h3>
        </div>
        <div class="item grid--item6 ">
            <img src="../../../assets/nail.svg" alt="# ">
            <h3>Pedicura normal</h3>
        </div>
    </div>
</section>