<div class="form">
    <h1 class="form__title">Antes de adquirir cualquier servicio, necesitamos que completes algunos detalles personales</h1>
    <form action="#" class="form-group">
        <label class="form-group__label" for="name">Nombre</label>
        <input class="form-group__control" type="text" id="name">
        <label class="form-group__label" for="surname">Apellidos</label>
        <input class="form-group__control" type="text" id="surname">
        <label class="form-group__label" for="email">Email</label>
        <input class="form-group__control" type="email" id="email">
        <label class="form-group__label" for="password">Contraseña</label>
        <input class="form-group__control" type="password" id="password">
        <button class="form-group__btn" type="submit">Enviar</button>
    </form>
</div>