<nav class="navbar navbar-expand-md navbar-dark my-stetic-nav">
    <div class="mainnav">
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
        </ul>
    </div>
    <a class="navbar-brand " href="#">My Stetic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['tratamientos']">Tratamientos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#">Convierte en nuestro Terapista</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['login']">Login</a>
            </li>
        </ul>
    </div>
</nav>