.search {
    display: flex;
    justify-content: center;
    background-color: $secondary;
    padding: rem(20px);
    .search-center {
        font-family: 'Roboto';
        max-width: rem(768px);
        justify-items: center;
    }
    &__title {
        font-family: $font-primary;
        font-size: $font-size-title;
        padding: 0 rem(20px);
        text-align: center;
        margin-bottom: rem(20px);
    }
    &__subtitle {
        font-size: $font-size-subtitle;
        padding: 0 rem(20px);
        text-align: center;
        font-family: $font-primary;
        margin-bottom: rem(30px);
    }
    .form {
        display: flex;
        flex-wrap: wrap;
        max-width: rem(300px);
        margin: auto;
        label {
            margin: auto;
            font-size: $font-size-subtitle;
            height: rem(60px);
            width: auto;
            text-align: center;
            line-height: 4rem;
        }
        input {
            height: rem(60px);
            width: rem(220px);
            font-family: $font-primary;
            font-size: rem(18px);
            text-align: center;
            border: 2px solid $third;
            border-radius: rem(50px 0 0 50px);
            padding: rem(0 25px);
        }
        button {
            width: rem(60px);
            height: rem(60px);
            background-color: $third;
            border: none;
            font-family: $font-primary;
            font-size: 1rem;
            border-radius: rem(0 50px 50px 0);
            color: $body-bg;
            &:hover {
                color: $primary;
            }
        }
    }
}