    $icons: ( twitter: ( "ico": "\f099", "color": #55acee, ), facebook: ( "ico": "\f09a", "color": #3b5998, ), instagram: ( "ico": "\f16d", "color": #E65C34, ), );
    .my-stetic-nav {
        background-color: $primary;
        font-family: 'Roboto';
        .mainnav {
            margin-right: rem(15px);
            &--login {
                justify-content: center;
            }
            &--account {
                justify-content: center;
            }
            .social-icons {
                display: flex;
                margin-bottom: 0;
                li+li {
                    margin-left: rem(10px);
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    color: #fff;
                    text-decoration: none;
                    font-size: 0;
                    &::before {
                        font-family: 'FontAwesome';
                        font-size: 1rem;
                    }
                    @each $social,
                    $icon in $icons {
                        &[href*="#{$social}"] {
                            background-color: map-get($icon, color);
                            &::before {
                                content: map-get($icon, ico);
                            }
                        }
                    }
                }
            }
        }
    }